
.container {
  position: absolute;
  top:5x;
  margin: 0 auto;
  z-index:3px;
  left:50px;
  


}

.container a {
  float:left;
  margin: 1px;
}

.big {
  position: absolute;
  top: 260px;
  left: 20px;
  cursor:pointer;

}

.thumb1{
	  position: absolute;
  top: -1px;
  left: 100px;
	width:40px;
	height:40px;
	border:1px solid #ccc;
	  cursor:pointer;
}
.thumb2{
		  position: absolute;
  top: 39px;
  left: 100px;
	width:40px;
	height:40px;
	border:1px solid #ccc;
	  cursor:pointer;
}
.thumb3{
		  position: absolute;
  top: 79px;
  left: 100px;
	width:40px;
	height:40px;
	border:1px solid #ccc;
	  cursor:pointer;
}



.big {
  position: absolute;
  top:-1px;
  left: -25px;
width:120px;
	height:120px;
border:1px solid #ccc;


}
.big2 {
	display:none;
}


.featured {
  top: -1px;
  left: -25px;
  z-index: -3;

  }



 a:active .big {
  top: -110px;
  left: 70px;
  z-index:200;
  -moz-transform:scale(3); 
-webkit-transform:scale(3);
-o-transform:scale(3);

}

